# Environnement virtuel
.venv/
venv/

# IDE
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class

# Bases de données
*.sqlite3
*.db

# Fichiers sensibles
.env
.env.*
!.env.example

# Static & media
staticfiles/
media/

# Tailwind compilé
static/css/output.css
static/css/output.css.map

# Node
node_modules/
package-lock.json

# Tests
.coverage
htmlcov/
.pytest_cache/
.tox/
.pytest_cache/

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
*.egg-info/

# Logs
*.log

# Backup
*~
*.swp